<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.otec.foodsafety.mapper.purchase.SupplierServiceMapper">

	<sql id="Example_Where_Clause">
		<where>
            <if test="@org.apache.ibatis.util.Ognl@isNotEmpty( supplierName )">
                AND SUPPLIER_NAME = #{supplierName}
            </if>
            <if test="@org.apache.ibatis.util.Ognl@isNotEmpty( supplierName_like )">
                AND t1.SUPPLIER_NAME like '%${supplierName_like}%'
            </if>
            <if test="@org.apache.ibatis.util.Ognl@isNotEmpty( supplierCategory )">
                AND t1.SUPPLIER_CATEGORY = #{supplierCategory}
            </if>
            <if test="@org.apache.ibatis.util.Ognl@isNotEmpty( supplierType )">
                AND t1.SUPPLIER_TYPE = #{supplierType}
            </if>
            <if test="@org.apache.ibatis.util.Ognl@isNotEmpty( supplierStatus )">
                AND t1.SUPPLIER_STATUS = #{supplierStatus}
            </if>
            <if test="@org.apache.ibatis.util.Ognl@isNotEmpty( enterpriseId )">
                AND t2.ENTERPRISE_ID = #{enterpriseId}
            </if>
            <if test="@org.apache.ibatis.util.Ognl@isNotEmpty( areaId )">
                AND t3.AREA_ID = #{areaId}
            </if>
            <if test="@org.apache.ibatis.util.Ognl@isNotEmpty( gridId )">
                AND t4.GRID_ID = #{gridId}
            </if>
			<if test="@org.apache.ibatis.util.Ognl@isNotEmpty( extendSql )">
				${extendSql}
			</if>
		</where>
	</sql>

    <update id="batchChangeStatus" flushCache="true" parameterType="map" >
        update T_SUPPLIER_SERVICE set SUPPLIER_STATUS=#{status,jdbcType=VARCHAR}
        where SUPPLIER_ID in
        <foreach collection="ids" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <select id="getSuppliersByEnterpriseId" parameterType="map" resultMap="result_ResultMap_SupplierService">
        SELECT t.* FROM T_SUPPLIER_SERVICE t,  T_SUPPLIER_SERVICE_ENTERPRISE t2
        where  t.SUPPLIER_ID=t2.SUPPLIER_ID  and t.SUPPLIER_CATEGORY = #{supplierCategory} and t2.ENTERPRISE_ID=#{enterpriseId}
    </select>

    <select id="getSupplierServiceCount" parameterType="map" resultType="integer">
        select count(t1.SUPPLIER_ID) from T_SUPPLIER_SERVICE t1 left join T_SUPPLIER_SERVICE_ENTERPRISE t2
        on t1.SUPPLIER_ID=t2.SUPPLIER_ID left join T_ENTERPRISE_BASE t3
        on t2.ENTERPRISE_ID=t3.ENTERPRISE_ID left join T_ENTERPRISE_SUPERVISION t4
        on t2.ENTERPRISE_ID=t4.ENTERPRISE_ID
        <include refid="Example_Where_Clause" />
    </select>

    <select id="getSupplierServicePage" parameterType="map" resultMap="result_ResultMap_SupplierService">
        select t1.* from T_SUPPLIER_SERVICE t1 left join T_SUPPLIER_SERVICE_ENTERPRISE t2
        on t1.SUPPLIER_ID=t2.SUPPLIER_ID left join T_ENTERPRISE_BASE t3
        on t2.ENTERPRISE_ID=t3.ENTERPRISE_ID left join T_ENTERPRISE_SUPERVISION t4
        on t2.ENTERPRISE_ID=t4.ENTERPRISE_ID
        <include refid="Example_Where_Clause" />
    </select>

</mapper>