<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.otec.foodsafety.mapper.register.RegisterBaseMapper">
	<sql id="Example_Where_Clause">
		<where>
		</where>
	</sql>
	<select id="getPage" resultMap="resultPage" parameterType="com.otec.foodsafety.entity.register.RegisterBase">
		select * from T_REGISTER_BASE t where 1=1		
	</select>
	<resultMap type="com.otec.foodsafety.entity.register.RegisterBase" id="resultPage">
		<result property="registerId" column="REGISTER_ID"></result>
		<result property="enterpriseName" column="ENTERPRISE_NAME"></result>
		<result property="areaId" column="AREA_ID"></result>
		<result property="registerAddress" column="REGISTER_ADDRESS"></result>
		<result property="productionAddress" column="PRODUCTION_ADDRESS"></result>
		<result property="organizingInstitutionBarCode" column="ORGANIZING_INSTITUTION_BAR_CODE"></result>
		<result property="subjectClassification" column="SUBJECT_CLASSIFICATION"></result>
		<result property="corporateRepresentative" column="CORPORATE_REPRESENTATIVE"></result>
		<result property="idCardNo" column="ID_CARD_NO"></result>
		<result property="registeredCapital" column="REGISTERED_CAPITAL"></result>
		<result property="economicNature" column="ECONOMIC_NATURE"></result>
		<result property="operationScope" column="OPERATION_SCOPE"></result>
		<result property="postalCode" column="POSTAL_CODE"></result>
		<result property="contacts" column="CONTACTS"></result>
		<result property="contactNumber" column="CONTACT_NUMBER"></result>
		<result property="contactMobile" column="CONTACT_MOBILE"></result>
		<result property="inspectorMobile" column="INSPECTOR_MOBILE"></result>
		<result property="registerDate" column="REGISTER_DATE"></result>
	</resultMap>
	<insert id="addRegisterBase" parameterType="java.util.Map">
		insert into T_REGISTER_BASE(REGISTER_ID,ENTERPRISE_NAME,AREA_ID,REGISTER_ADDRESS,PRODUCTION_ADDRESS,
					ORGANIZING_INSTITUTION_BAR_CODE,SUBJECT_CLASSIFICATION,CORPORATE_REPRESENTATIVE,ID_CARD_NO,
					 REGISTERED_CAPITAL,ECONOMIC_NATURE,OPERATION_SCOPE,POSTAL_CODE,CONTACTS,CONTACT_NUMBER,
					 CONTACT_MOBILE,INSPECTOR_MOBILE, REGISTER_DATE )
		VALUES
		(#{registerId},#{enterpriseName},#{areaId},#{registerAddress},#{productionAddress},#{organizingInstitutionBarCode},
		#{subjectClassification},#{corporateRepresentative},#{idCardNo},#{registeredCapital},#{economicNature},#{operationScope},
		#{postalCode},#{contacts},#{contactNumber},#{contactMobile},#{inspectorMobile},#{registerDate})
	</insert>
	<select id="getByOrganizingInstitutionBarCode" resultMap="resultPage" parameterType="String">
		select * from T_REGISTER_BASE t where t.ORGANIZING_INSTITUTION_BAR_CODE = #{organizingInstitutionBarCode}
	</select>
</mapper>