<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.otec.foodsafety.mapper.alarm.AlarmMapper">

	<sql id="Example_Where_Clause" >
		<where>
			<if  test="@org.apache.ibatis.util.Ognl@isNotEmpty( id )">
				  AND ID = #{id}
			</if>
			<if  test="@org.apache.ibatis.util.Ognl@isNotEmpty( eventType )">
				  AND EVENT_TYPE = #{eventType}
			</if>
			<if  test="@org.apache.ibatis.util.Ognl@isNotEmpty( eventId )">
				  AND EVENT_ID = #{eventId}
			</if>
			<if  test="@org.apache.ibatis.util.Ognl@isNotEmpty( indexCode )">
				  AND INDEX_CODE = #{indexCode}
			</if>
			<if  test="@org.apache.ibatis.util.Ognl@isNotEmpty( indexCodeLike )">
				  AND INDEX_CODE like '%${indexCodeLike}%'
			</if>
			<if  test="@org.apache.ibatis.util.Ognl@isNotEmpty( alarmSource )">
				  AND ALARM_SOURCE = #{alarmSource}
			</if>
			<if  test="@org.apache.ibatis.util.Ognl@isNotEmpty( alarmType )">
				  AND ALARM_TYPE = #{alarmType}
			</if>
			<if  test="@org.apache.ibatis.util.Ognl@isNotEmpty( alarmTime )">
				  AND ALARM_TIME = #{alarmTime}
			</if>
			<if  test="@org.apache.ibatis.util.Ognl@isNotEmpty( content )">
				  AND CONTENT = #{content}
			</if>
			<if  test="@org.apache.ibatis.util.Ognl@isNotEmpty( msg )">
				  AND MSG = #{msg}
			</if>
			<if  test="@org.apache.ibatis.util.Ognl@isNotEmpty( status )">
				  AND STATUS = #{status}
			</if>
			<if  test="@org.apache.ibatis.util.Ognl@isNotEmpty( createTime )">
				  AND CREATE_TIME = #{createTime}
			</if>
			<if  test="@org.apache.ibatis.util.Ognl@isNotEmpty( updateTime )">
				  AND UPDATE_TIME = #{updateTime}
			</if>			
			<if  test="@org.apache.ibatis.util.Ognl@isNotEmpty( enterpriseId )">
				  AND ENTERPRISE_ID = #{enterpriseId}
			</if>
			<if  test="@org.apache.ibatis.util.Ognl@isNotEmpty( areaId )">
				AND  ENTERPRISE_ID in ( SELECT   ENTERPRISE_ID FROM T_ENTERPRISE_BASE WHERE AREA_ID=#{areaId} and ENTERPRISE_STATUS=3 )
			</if>
			<if test="@org.apache.ibatis.util.Ognl@isNotEmpty( areaIds )">
				AND AREA_ID in (${areaIds})
			</if>
			<if test="@org.apache.ibatis.util.Ognl@isNotEmpty( gridId )">
				AND GRID_ID = #{gridId}
			</if> 
			<if  test="@org.apache.ibatis.util.Ognl@isNotEmpty( startDate )">
				AND   <![CDATA[CREATE_TIME >= DATE_FORMAT(#{startDate},'%Y-%m-%d 00:00:00')    ]]>
			</if>
			<if  test="@org.apache.ibatis.util.Ognl@isNotEmpty( endDate )">
				AND  <![CDATA[CREATE_TIME <= DATE_FORMAT(#{endDate},'%Y-%m-%d 23:23:59')    ]]>
			</if>
			<if  test="@org.apache.ibatis.util.Ognl@isNotEmpty( alermStartDate )">
				AND   <![CDATA[ALARM_TIME >= DATE_FORMAT(#{alermStartDate},'%Y-%m-%d %H:%i:%s')    ]]>
			</if>
			<if  test="@org.apache.ibatis.util.Ognl@isNotEmpty( alermEndDate )">
				AND  <![CDATA[ALARM_TIME <= DATE_FORMAT(#{alermEndDate},'%Y-%m-%d %H:%i:%s')    ]]>
			</if>
			<if test="@org.apache.ibatis.util.Ognl@isNotEmpty( extendSql )">
				${extendSql}
			</if>
		</where>
	</sql>
	<resultMap id="Extend_ResultMap"
		type="com.otec.foodsafety.entity.alarm.AlarmExt"
		extends="result_ResultMap_Alarm">		
		<result property="enterpriseId" column="ENTERPRISE_ID" />
		<result property="enterpriseName" column="ENTERPRISE_NAME" />		
		<result property="equName" column="EQU_NAME" />	
		
	</resultMap>

	<select id="countAlarmByCondition"
		resultType="java.lang.Integer" parameterType="java.util.HashMap">
		select count(1) from (
		<include refid="findAlarmSql"></include>
		) T
	</select>

	<select id="findAlarmByCondition"
		resultMap="Extend_ResultMap" parameterType="java.util.HashMap">
		<include refid="findAlarmSql" />
	</select>

	<sql id="findAlarmSql">
		SELECT * FROM V_ALARM
		<include refid="Example_Where_Clause"></include>
		order by ID desc
	</sql>

	<select id="findAlarmReport" parameterType="java.util.Map" resultType="java.util.HashMap">
		SELECT COUNT(1) count, T.EVENT_ID eventId, T.`STATUS` eventStatus
		from V_ALARM T
		WHERE T.EVENT_TYPE = #{eventType}
		<if  test="@org.apache.ibatis.util.Ognl@isNotEmpty( enterpriseId )">
			AND ENTERPRISE_ID = #{enterpriseId}
		</if>
		<if test="@org.apache.ibatis.util.Ognl@isNotEmpty( areaId )">
			AND AREA_ID = #{areaId}
		</if>
		GROUP BY T.EVENT_ID, T.`STATUS`
	</select>

	<select id="getCountByEventId" parameterType="java.util.Map" resultType="java.util.HashMap">
		SELECT COUNT(1) count, EVENT_ID eventId
		from V_ALARM
        <include refid="Example_Where_Clause"></include>
		GROUP BY EVENT_ID
	</select>

    <select id="getWarning" parameterType="long" resultType="hashmap">
        select DATE_FORMAT(x.VALID_DATE,'%Y-%m') validDate,
        sum(SC_COUNT) scCount, sum(EC_COUNT) ecCount
        from
        (SELECT t1.VALID_DATE, count(0) SC_COUNT, 0 EC_COUNT FROM T_CATERING_STAFF_CERTIFICATE  t1
        LEFT JOIN (SELECT * from T_CATERING_STAFF where STAFF_STATUS =1) t2
        ON t1.STAFF_ID = t2.STAFF_ID
        LEFT JOIN  T_ENTERPRISE_BASE  t3 ON t2.ENTERPRISE_ID=t3.ENTERPRISE_ID
        where t1.CERTIFICATE_STATUS=1 and  t3.ENTERPRISE_STATUS=3
        and t1.VALID_DATE &lt;= DATE_SUB(CURDATE(),INTERVAL -1 month)
        and	t3.AREA_ID = #{areaId}  group by t1.VALID_DATE
        union all
        select t1.VALID_DATE, 0 SC_COUNT, count(0) EC_COUNT from T_ENTERPRISE_CERTIFICATE t1
        LEFT JOIN  T_ENTERPRISE_BASE t2 on t1.ENTERPRISE_ID=t2.ENTERPRISE_ID
        where t1.CERTIFICATE_TYPE=3 and t1.CERTIFICATE_STATUS=1 and t2.ENTERPRISE_STATUS=3
        and t1.VALID_DATE &lt;= DATE_SUB(CURDATE(),INTERVAL -1 month)
        and	t2.AREA_ID = #{areaId}  group by t1.VALID_DATE) as x
        group by DATE_FORMAT(x.VALID_DATE,'%Y-%m')
    </select>

	<select id="getHealthWarning" parameterType="long" resultType="hashmap">
		select DATE_FORMAT(x.VALID_DATE,'%Y-%m') validDate,
		sum(SC_COUNT) scCount
		from
		(SELECT t1.VALID_DATE, count(0) SC_COUNT  FROM T_CATERING_STAFF_CERTIFICATE  t1
		LEFT JOIN (SELECT * from T_CATERING_STAFF where STAFF_STATUS =1) t2
		ON t1.STAFF_ID = t2.STAFF_ID
		LEFT JOIN  T_ENTERPRISE_BASE  t3 ON t2.ENTERPRISE_ID=t3.ENTERPRISE_ID
		where t1.CERTIFICATE_STATUS=1 and  t3.ENTERPRISE_STATUS=3
		and t1.VALID_DATE &lt;= DATE_SUB(CURDATE(),INTERVAL -1 month)
		and	t3.ENTERPRISE_ID = #{enterpriseId}  group by t1.VALID_DATE) as x
		group by DATE_FORMAT(x.VALID_DATE,'%Y-%m')
	</select>

	<select id="getSensorTrend"  parameterType="java.util.HashMap"  resultType="java.util.HashMap">
		select tt.date,SUM(tt.wdCount) wdCount,SUM(tt.sdCount) sdCount from (
			SELECT  DATE_FORMAT(t.ALARM_TIME,'%Y-%m-%d') date,sum(t.wd) wdCount,sum(t.sd) sdCount  FROM
			(
			select *,IF(EVENT_ID='10001' or EVENT_ID='10002',1,0) wd ,IF(EVENT_ID='10003' or EVENT_ID='10004',1,0) sd from V_ALARM
		    WHERE EVENT_TYPE = '2'  AND ALARM_TIME >= DATE_SUB(CURDATE(),INTERVAL 7 day)
			<if test="@org.apache.ibatis.util.Ognl@isNotEmpty( areaId )">
				AND AREA_ID = #{areaId}
			</if>
			<if test="@org.apache.ibatis.util.Ognl@isNotEmpty( enterpriseId )">
				AND ENTERPRISE_ID = #{enterpriseId}
			</if>
			)t
			GROUP BY  DATE_FORMAT(t.ALARM_TIME,'%Y-%m-%d')
			union
			select  DATE_SUB(CURDATE(),INTERVAL 6 day) date, 0 wdCount, 0 sdCount
			union all
			select  DATE_SUB(CURDATE(),INTERVAL 5 day) date, 0 wdCount, 0 sdCount
			union all
			select  DATE_SUB(CURDATE(),INTERVAL 4 day) date, 0 wdCount, 0 sdCount
			union all
			select  DATE_SUB(CURDATE(),INTERVAL 3 day) date, 0 wdCount, 0 sdCount
			union all
			select  DATE_SUB(CURDATE(),INTERVAL 2 day) date, 0 wdCount, 0 sdCount
			union all
			select  DATE_SUB(CURDATE(),INTERVAL 1 day) date, 0 wdCount, 0 sdCount
			union all
			select  CURDATE() date, 0 wdCount, 0 sdCount
		  ) tt GROUP BY tt.date
	</select>

	<select id="getVideoTrend"  parameterType="java.util.HashMap"  resultType="java.util.HashMap">
		select tt.date,SUM(tt.aqmCount) aqmCount,SUM(tt.kzCount) kzCount, SUM(tt.gzfCount) gzfCount ,SUM(tt.cyCount) cyCount from (
		SELECT  DATE_FORMAT(t.ALARM_TIME,'%Y-%m-%d') date,sum(t.aqm) aqmCount,sum(t.kz) kzCount,sum(t.gzf) gzfCount,sum(t.cy) cyCount  FROM
		(
		select *,IF(EVENT_ID='1',1,0) aqm ,IF(EVENT_ID='2',1,0) kz,IF(EVENT_ID='3',1,0) gzf,IF(EVENT_ID='4',1,0) cy from V_ALARM
		WHERE EVENT_TYPE = '1'  AND ALARM_TIME >= DATE_SUB(CURDATE(),INTERVAL 7 day)
		<if test="@org.apache.ibatis.util.Ognl@isNotEmpty( areaId )">
			AND AREA_ID = #{areaId}
		</if>
		<if test="@org.apache.ibatis.util.Ognl@isNotEmpty( enterpriseId )">
			AND ENTERPRISE_ID = #{enterpriseId}
		</if>
		)t
		GROUP BY  DATE_FORMAT(t.ALARM_TIME,'%Y-%m-%d')
		union
		select date_add(CURDATE(),interval @i:=@i-1 day) as date ,0 aqmCount,0 kzCount,0 gzfCount, 0 cyCount
		from ( select 1 union all select 1 union all select 1 union all select 1
		union all select 1 union all select 1 union all select 1) as tmp,
		(select @i:= 1) t2
		) tt GROUP BY tt.date
	</select>
</mapper>